<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnT26-SeTN07yiZM4_JyTHa1i68qu5uhY</string>
	<key>GCM_SENDER_ID</key>
	<string>669007152872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodordering</string>
	<key>PROJECT_ID</key>
	<string>canteen-vjti</string>
	<key>STORAGE_BUCKET</key>
	<string>canteen-vjti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669007152872:ios:fc03ca46570ba0cc3a6b5d</string>
	<key>DATABASE_URL</key>
	<string>https://canteen-vjti-default-rtdb.firebaseio.com</string>
</dict>
</plist>